h3{
    color: rebeccapurple;
}
#learn{
    background-color: #5e068a;
    color: orange;
border-color: #5e068a;}
 
    li{
        color: purple;
    }
    .nav-link{
        color: red;
    }
    #on{
        color:#5e068a;
        padding-left: 10px;
    }
    
   
        .orange-color{
           color: #5e068a99;
       
    }
    #color{
        color: #5e068a;
    }
    #c{
        margin-left: 30%;
    }
    #le{
        color:#5e068a ;
    }
    #or{
        padding-top: 5%;
    }
    #sp{
        margin-left: 20px;
    }
  
    
